Vacation System/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Web_Service" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Web_Service" minOccurs="0" name="LogInResult" nillable="true" type="q1:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Web_Service" minOccurs="0" name="empleado" nillable="true" type="q2:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="depto" nillable="true" type="q3:DepartamentoMirror" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="depto" nillable="true" type="q4:DepartamentoMirror" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="rol" nillable="true" type="q5:RolesMirror" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="LoadDepartmentsResult" nillable="true" type="q6:ArrayOfDepartamentoMirror" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="LoadRolesResult" nillable="true" type="q7:ArrayOfRolesMirror" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPermisosData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPermisosDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadPermisosDataResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoleChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="rolMirror" nillable="true" type="q9:RolesMirror" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoleChangesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="talentoHumano" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Web_Service" minOccurs="0" name="LoadEmpleadoResult" nillable="true" type="q10:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="LoadUsersResult" nillable="true" type="q11:ArrayOfUserMirror" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="talentoHumano" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Web_Service" minOccurs="0" name="empleado" nillable="true" type="q12:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>