Vacation System/Service References/ServiceReference/Web_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Web_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Web_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="Calendar" nillable="true" type="q1:ArrayOfCalendarMirror" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="Departamento" nillable="true" type="q2:ArrayOfDepartamentoMirror" />
      <xs:element minOccurs="0" name="DiasPendientesPorTomar" type="xs:int" />
      <xs:element minOccurs="0" name="DiasTomadosAnteriormente" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FechasNoDisponibles" nillable="true" type="q3:ArrayOfdateTime" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="Jerarquias" nillable="true" type="q4:ArrayOfJerarquiaMirror" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="LogVacaciones" nillable="true" type="q5:ArrayOfLogVacacionesMirror" />
      <xs:element minOccurs="0" name="Notification" type="xs:boolean" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="Permisos" nillable="true" type="q6:ArrayOfPermisosMirror" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="Roles" nillable="true" type="q7:ArrayOfRolesMirror" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="Status" nillable="true" type="q8:ArrayOfStatusMirror" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="TipoDia" nillable="true" type="q9:ArrayOfTipoDiaMirror" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="User" nillable="true" type="q10:UserMirror" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Web_Service.Mirror_Classes" minOccurs="0" name="Vacaciones" nillable="true" type="q11:ArrayOfVacacionesMirror" />
      <xs:element minOccurs="0" name="YearC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
</xs:schema>